@charset "UTF-8";
/* 페이지명 article0*/

*, ::after, ::before{
box-sizing : unset;
}

#j_ntpw_article1{
	box-sizing : unset;
}

#j_ntpw_article0 {
	font-size: 30px;
	border-color: white;
	border-bottom: 1px solid #F54748;
}
/* 글쓰기 article1 */
.j_ntpw_table {
	background-color: #F54748;
	border: 1px solid black;
	padding: 20px;
}

.j_ntpw_ta{
	padding-left : 35px;
}

#j_ntpw_write {
	display: flex;
	justify-content: center;
	align-items: center;
	border-collapse: unset;

}

.j_ntpw_tablewr {
	padding-left: 20px;
}

#j_ntpw_title {
	width: 658px;
	height: 25px;
}

#j_ntpw_file_btn {
	width: 100%;
}


#j_ntpw_textarea {
	resize: none;
	width: 658px;
}
#j_ntpw_addfile{
	border-radius: 3px;
	border: 1px solid gray;
	width: 84.17px;
	height: 28px;
}

/* 저장버튼 article2*/
#j_ntpw_write_btn {
	width: 90px;
	height: 35px;
	font-size: medium;
	color: white;
	background-color: #F54748;
	border-top-right-radius: 5px;
	border-radius: 5px;
	margin-left: 400px;
	
}

#j_ntpw_write_btn:hover {
	background-color: #e74141;
}