@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27');
* {
	font-family: 'Noto Sans', sans-serif;
}

#j_ntpw_header{
          width:100%;
          font-family: 'Noto Sans', sans-serif;
}
#j_ntpw_footer{
          width:100%;
          font-family: 'Noto Sans', sans-serif;
}
/* 페이지명 article0*/

*, ::after, ::before{
box-sizing : unset;
font-family: 'Noto Sans', sans-serif;
}

#j_ntpw_article1{
	box-sizing : unset;
	font-family: 'Noto Sans', sans-serif;
}

#j_ntpw_article0 {
	font-size: 30px;
	border-color: white;
	border-bottom: 1px solid #F54748;
	font-family: 'Noto Sans', sans-serif;
}
/* 글쓰기 article1 */
.j_ntpw_table {
	background-color: #F54748;
	border: 1px solid black;
	padding: 20px;
	font-family: 'Noto Sans', sans-serif;
}

.j_ntpw_ta{
	padding-left : 35px;
	font-family: 'Noto Sans', sans-serif;
}

#j_ntpw_write {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Noto Sans', sans-serif;

}

.j_ntpw_tablewr {
	padding-left: 20px;
	font-family: 'Noto Sans', sans-serif;
}

#j_ntpw_title {
	width: 658px;
	height: 25px;
	font-family: 'Noto Sans', sans-serif;
}

#j_ntpw_file_btn {
	width: 100%;
	font-family: 'Noto Sans', sans-serif;
}


#j_ntpw_textarea {
	resize: none;
	width: 658px;
	font-family: 'Noto Sans', sans-serif;
}
#j_ntpw_addfile{
	border-radius: 3px;
	border: 1px solid gray;
	width: 84.17px;
	height: 28px;
	font-family: 'Noto Sans', sans-serif;
}

/* 저장버튼 article2*/
#j_ntpw_write_btn {
	width: 90px;
	height: 35px;
	font-size: medium;
	color: white;
	background-color: #F54748;
	border-top-right-radius: 5px;
	border-radius: 5px;
	margin-left: 400px;
	font-family: 'Noto Sans', sans-serif;
	
}

#j_ntpw_write_btn:hover {
	background-color: #e74141;
	font-family: 'Noto Sans', sans-serif;
}