@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27');
* {
	font-family: 'Noto Sans', sans-serif;
}
/* 컨셉버튼 article1 */
#j_ntrl_total:active {
	background-color: #F54748;
	color: white;
	font-family: 'Noto Sans', sans-serif;
}
#j_ntrl_birth:active {
	background-color: #F54748;
	color: white;
	font-family: 'Noto Sans', sans-serif;
}

#j_ntrl_article1 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Noto Sans', sans-serif;
	width: 80%;
	margin: 0 auto;
}

.j_ntrl_concept_btn {
	margin: auto;
	padding: 10px 35px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	cursor: pointer;
	float: left;
	border-radius: 5px;
	background-color: white;
	border: 1px solid #F54748;
	font-family: 'Noto Sans', sans-serif;
}

.j_ntrl_concept_btn:not(:last-child) {
	border-right: none; /* Prevent double borders */
	font-family: 'Noto Sans', sans-serif;
}

.j_ntrl_concept_btn:hover {
	background-color: #F54748;
	color: white;
	font-family: 'Noto Sans', sans-serif;
}

/* 글쓰기버튼 article2*/
#j_ntrl_article2{
	width: 80%;
	margin: 0 auto;
}

#j_ntrl_write_btn {
	width: 100px;
	height: 40px;
	font-size: 20px;
	color: white;
	background-color: #F54748;
	border-radius: 5px;
	border:1px solid #F54748;
	display: flex;
	margin-left: auto;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-family: 'Noto Sans', sans-serif;
}

#j_ntrl_write_btn:hover {
	background-color: #e74141;
	font-family: 'Noto Sans', sans-serif;
}

/*이미지 article3*/
.j_ntrl_article3_img {
	/* border: 1px solid black; */
	text-align: center;
	padding: 20px 40px;
	font-size: medium;
	cursor: pointer;
	width: 300px;
	height: 300px;
	box-sizing : unset;
	font-family: 'Noto Sans', sans-serif;
}

#j_ntrl_img_item {
	width: 300px;
	height: 300px;
	font-family: 'Noto Sans', sans-serif;
}

.j_ntrl_article3_img:hover {
	transform: scale(1.1);
	font-family: 'Noto Sans', sans-serif;
}

.j_ntrl_article3_text {
	/* border: 1px solid black; */
	text-align: center;
	padding: 20px 40px;
	font-size: medium;
	font-family: 'Noto Sans', sans-serif;
}

.j_ntrl_article3_img_id {
	/* border: 1px solid black; */
	text-align: left;
	padding: 20px 40px;
	font-size: medium;
	font-family: 'Noto Sans', sans-serif;
}

#j_ntrl_article3 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-family: 'Noto Sans', sans-serif;
}

/* 페이징 */
#j_ntrl_article4 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Noto Sans', sans-serif;
}

.j_ntrl_pagination {
	display: inline-block;
	font-family: 'Noto Sans', sans-serif;
}

.j_ntrl_pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	border: 1px solid #ddd;
	font-family: 'Noto Sans', sans-serif;
}

.j_ntrl_pagination a.j_ntrl_active {
	background-color: #F54748;
	color: white;
	border: 1px solid #F54748;
	font-family: 'Noto Sans', sans-serif;
}

.j_ntrl_pagination a:hover:not(.active) {
	background-color: #ddd;
	font-family: 'Noto Sans', sans-serif;
}

.j_ntrl_pagination a:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	font-family: 'Noto Sans', sans-serif;
}

.j_ntrl_pagination a:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	font-family: 'Noto Sans', sans-serif;
}