@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27')
	;

* {
	font-family: 'Noto Sans', sans-serif;
}
/* 회원id,컨셉,좋아요 article1*/
#j_ntrd_article1 {
	border: white;
	font-family: 'Noto Sans', sans-serif;
	width: 80%;
	margin: 0 auto;
}
/* 삭제하기 버튼 */
#j_ntrd_delete {
	float: right;
}

#j_ntrd_delete_btn {
	background-color: #F54748;
	border-radius: 5px;
	border: 1px solid #F54748;
	cursor: pointer;
	font-size: medium;
	padding: 3px 10px;
	font-family: 'Noto Sans', sans-serif;
}

#j_ntrd_delete_btn:hover {
	background-color: #e74141;
	font-family: 'Noto Sans', sans-serif;
}

/*게시글 작성자 */
#j_ntrd_member_id {
	float: left;
	font-family: 'Noto Sans', sans-serif;
}

/*이미지,내용,댓글작성 article2*/
.j_ntrd_article2_img {
	/* border: 1px solid black; */
	text-align: center;
	padding: 20px 40px;
	font-size: medium;
	font-family: 'Noto Sans', sans-serif;
}

#j_ntrd_submit_btn {
	background-color: #F54748;
	border-radius: 5px;
	border: 1px solid #F54748;
	cursor: pointer;
	font-size: medium;
	padding: 3px 10px;
	font-family: 'Noto Sans', sans-serif;
}

#j_ntrd_submit_btn:hover {
	background-color: #e74141;
	font-family: 'Noto Sans', sans-serif;
}

#j_ntrd_article2 {
	display: flex;
	justify-content: center;
	align-items: center;
	border: white;
	border-bottom: 1px solid #F54748;
	font-family: 'Noto Sans', sans-serif;
}

#j_ntrd_ntrrCnt {
	float: left;
	font-family: 'Noto Sans', sans-serif;
}

#j_ntrd_recomment {
	width: 570px;
	font-family: 'Noto Sans', sans-serif;
}

#j_ntrd_detail_img {
	width: 600px;
	height: 600px;
	font-family: 'Noto Sans', sans-serif;
}

#j_ntrd_cnt {
	color: #F54748;
	font-weight: bold;
}

#j_ntrd_ntrrCnt {
	font-weight: bold;
}

/* 슬라이드 버튼 */
.slides {
	display: none;
	font-family: 'Noto Sans', sans-serif;
}

.j_ntrd_slides_l {
	background-color: #F54748;
	border-radius: 5px;
	border: 1px solid #F54748;
	padding-bottom: 10px;
	font-size: 50px;
	cursor: pointer;
	float: left;
	margin-top: 290px;
	margin-right: 15px;
	font-family: 'Noto Sans', sans-serif;
}

.j_ntrd_slides_r {
	background-color: #F54748;
	border-radius: 5px;
	border: 1px solid #F54748;
	padding-bottom: 10px;
	font-size: 50px;
	cursor: pointer;
	float: right;
	margin-top: 290px;
	margin-left: 15px;
	font-family: 'Noto Sans', sans-serif;
}

/* 작성한 댓글 article3 */
#j_ntrd_article3 {
	width: 680px;
	margin: 0 auto;
	border: white;
	font-family: 'Noto Sans', sans-serif;
}
/*댓글 작성자 */
#j_ntrd_memberid {
	float: left;
	font-family: 'Noto Sans', sans-serif;
}

#j_ntrd_date {
	float: right;
	padding-left: 40px;
	font-family: 'Noto Sans', sans-serif;
}