@charset "UTF-8";
/* 페이지명 article0*/
 #j_ntrl_article0{
    font-size: 30px;
    border-color: white;
    border-bottom: 1px solid #F54748;
}
/* 컨셉버튼 article1 */
#j_ntrl_ch{
    background-color: #F54748;
    color: white;
}

    #j_ntrl_article1{
    display: flex;               
    justify-content: center; 
    align-items: center;
    }
    .j_ntrl_concept_btn{
    margin: auto;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    float: left;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #F54748;
    }
    
    .j_ntrl_concept_btn:not(:last-child) {
    border-right: none; /* Prevent double borders */
    }
    
    .j_ntrl_concept_btn:hover {
    background-color: #F54748;
    color: white;
    }

/* 글쓰기버튼 article2*/
#j_ntrl_write_btn{
    width: 100px;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: #F54748;
    border-top-right-radius: 5px;
    border-radius: 5px;
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;   
    cursor: pointer;   

}
#j_ntrl_write_btn:hover {
background-color: #e74141;
}

/*이미지 article3*/
.j_ntrl_article3_img{
    /* border: 1px solid black; */
    text-align: center;
    padding: 20px 40px;
    font-size: medium;
    cursor: pointer;  
    width: 300px;
	height: 300px;

}
#j_ntrl_img_item{
	width: 300px;
	height: 300px;
}

.j_ntrl_article3_img:hover{
    transform: scale(1.1);
}
.j_ntrl_article3_text{
    /* border: 1px solid black; */
    text-align: center;
    padding: 20px 40px;
    font-size: medium;
    overflow: hidden;
}
.j_ntrl_article3_img_id{
    /* border: 1px solid black; */
    text-align: left;
    padding: 20px 40px;
    font-size: medium;
}
#j_ntrl_article3{
    display: flex;               
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
}

/* 페이징 */
#j_ntrl_article4{
    display: flex;               
    justify-content: center; 
    align-items: center;   

}

.j_ntrl_pagination {
display: inline-block;       
}

.j_ntrl_pagination a {
color: black;
float: left;
padding: 8px 16px;
text-decoration: none;
border: 1px solid #ddd;
}

.j_ntrl_pagination a.j_ntrl_active {
background-color: #F54748;
color: white;
border: 1px solid #F54748;
}

.j_ntrl_pagination a:hover:not(.active) {
background-color: #ddd;
}

.j_ntrl_pagination a:first-child {
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}

.j_ntrl_pagination a:last-child {
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}