@charset "UTF-8";
/* 부트스트랩 반응형 제거 코드 - 전체*/
/* common으로 옮김 */
/* 
.container {
	width: 1500px;
	max-width: none !important;
	margin-left: 80.500px;
	margin-right: 80.500px;
}
 */
 /* 제거가 잘 안되서 이름을 바꿉니다.  또한 하단 부분과 맞지 않아 조정함.*/
.header_container {
	width: 1500px;
	max-width: 1500px;
	margin: auto;
/* 	margin-left: 80.500px;
	margin-right: 80.500px;  */
} 
.nav-tabs .nav-item.show .nav-link {
	border: none;
}
.nav-link {
	color : #343f56;
}
a.nav-link.link-dark.px-2 {
	color : #343f56;
}
nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	border: none;
}
nav:hover {
	color: #f54748;
	border: none;
}
.link-dark {
	color: #343f56;
	font-weight: 500;
}
.link-dark:hover {
	color: #f54748;
}
.p_logo_size {
	/* 원래 이미지 크기 300*130 으로 반정도 크기 맞춤 */
	width: 150px;
	/* height: 130px; */
/* 	margin-top: 20px;
	margin-left: 83.500px; */
/* 	display: inline-block; */
}
.p_icon {
	height: 19px;
	align-content:center;
}

#navbarDropdown {
	font-weight: 500;
	color: #343f56;
}
.dropdown-item:active {
	background-color: #f54748;
}
