@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27')
	;

* {
	font-family: 'Noto Sans', sans-serif;
}

/* 부트스트랩 반응형 제거 코드 - 전체*/
.container {
	width: 1500px;
	max-width: none !important;
	margin-left: 80.500px;
	margin-right: 80.500px;
}
.p_section_container {
	margin-left: 80.500px;
	margin-right: 80.500px;
	margin-top: 80.500px;
	margin-bottom: 80.500px;
}

.tab {
	float: left;
	background-color: #FFFFFF;
	width: 150px;
	height: 50px;
}

.tab button {
	display: block;
	background-color: #FFFFFF;
	color: #343f56;
	padding: 22px 16px;
	width: 100%;
	border: solid 0.05rem;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
}

.tab button:hover {
	background-color: #f54748;
	color: #FFFFFF;
	border: solid 0.05rem;
	border-color: #f54748;
}

.tab button.active {
	background-color: #f54748;
	color: #FFFFFF;
	border: solid 0.05rem;
	border-color: #f54748;
}

.tabcontent {
	float: left;
	padding: 0px 40px;
	border-left: none;
	height: 500px;
}

.tabhead {
	color: #343f56;
}


/* 회원 정보 수정 */
.p_mypage_table {
	border : none;
	color: #343f56
}

.p_mypage_m1 {
	color: #343f56;
	font-weight: 300;
}
.btn-primary {
	background-color: #f54748 !important;
	border: none !important;
	margin-left: 130%;
}

/* 회원 탈퇴 */
.card-body {
	margin-left: 20px;
	margin-bottom: 10px;
	margin: 0;
}

.form-check-input:checked {
	background-color: #f54748 !important;
	border: #f54748 !important;
}

.btn-danger {
	background-color: #f54748 !important;
	border: none !important;
}
