@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27');
* {
	font-family: 'Noto Sans', sans-serif;
}

#c_new_header{
          width:100%;
          font-family: 'Noto Sans', sans-serif;
}
#c_new_footer{
          width:100%;
          font-family: 'Noto Sans', sans-serif;
}
.container {
    width: 1500px;
    max-width: none !important;
    margin-left: 80.500px;
    margin-right: 80.500px;
}
#c_new_article0{
    font-size: 30px;
    border-color: white;
    border-bottom: 1px solid #F54748;
    font-family: 'Noto Sans', sans-serif;
}
/* 컨셉버튼 article1 */
#c_new_kr:active{
    background-color: #F54748;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}
#c_new_west:active{
    background-color: #F54748;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}
#c_new_article1{
    display: flex;               
    justify-content: center; 
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
}

.c_new_country_btn{
    margin: auto;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    float: left;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #F54748;
    font-family: 'Noto Sans', sans-serif;
}
    
.c_new_country_btn:not(:last-child) {
    border-right: none;
}
    
.c_new_country_btn:hover {
    background-color: #F54748;
    color: white;
}

/* 정렬순서 */
ul {
    list-style:none;
     
}
.c_new_menu{
    display: table;
    margin-left: auto;
    align-items: center;
    text-decoration-line: none;
}
a {
    text-decoration:none; color:#F54748;
}
#c_new_select1{
    border-radius: 5px;
}
.c_new_menu:after {
    display:block; content:''; clear:both;
}
.c_new_menu > li {
    position:relative; float:left; margin-right:5px;
}
.c_new_menu > li > a {
    display:block; 
    padding:0 15px; 
    background: #F54748;
    height:40px; 
    line-height:40px; 
    color:#fff;
    text-decoration-line: none;
    font-family: 'Noto Sans', sans-serif;
}
.c_new_menu > li:hover .c_depth_1 {
    display:block;
}
.c_new_menu .c_depth_1 {
    display:none; 
    position:absolute; 
    left:0; 
    right:0; 
    text-align:center;
}
.c_new_menu .c_depth_1 a {
    display:block; 
    padding:5px; 
    background:#f54747b2;
    color:#fff; 
    text-decoration-line: none;
}
/*이미지 article3*/
.c_new_article2_img{
    /* border: 1px solid black; */
    text-align: center;
    padding: 20px 40px;
    font-size: medium;
    cursor: pointer;  

}
.c_new_article2_img:hover{
    transform: scale(1.1);
}
.c_new_article2_text{
    /* border: 1px solid black; */
    text-align: center;
    padding: 20px 40px;
    font-size: medium;
    overflow: hidden;
}
#c_new_article2{
    display: flex;               
    justify-content: center; 
    align-items: center;
}

/* 페이징 */
#c_new_article3{
    display: flex;               
    justify-content: center; 
    align-items: center;   

}

.c_new_pagination {
display: inline-block;       
}

.c_new_pagination a {
color: black;
float: left;
padding: 8px 16px;
text-decoration: none;
border: 1px solid #ddd;
}

.c_new_pagination a.c_new_active {
background-color: #F54748;
color: white;
border: 1px solid #F54748;
}

.c_new_pagination a:hover:not(.active) {
background-color: #ddd;
}

.c_new_pagination a:first-child {
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}

.c_new_pagination a:last-child {
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}